#body {
    background-color: #FFFFFF;
    font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;
    font-size: 11px;
}
#wrapper {
    width: 900px;
    margin: 0 auto;
    margin-top: 30px;
}
#main {
    margin-right: 250px;
}
#right {
    float: right;
    width: 250px;
}

#i_img {
    margin-left: 125px;
    width: 350px;
}